 .about{
      padding-bottom: 2rem;
        
    .about_bio-image{
        padding-bottom: 2rem;
        background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($secondary-color, 0.4)), url(../4.jpg.jpg) ;
        height:50vh; 
        background-size: cover;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

      .about_bio{
         width: 80%;
         text-align: center;
        h2{
            padding-bottom: 0.4rem;
             }
        }
   }

   .jobs{
    width:60vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    &_job{
        background: lighten($primary-color, 10%);
        padding: 0.5rem;
        border-bottom: 4px solid $secondary-color;
        h2, h3{
            margin: 0.5rem 0;
        }
        h6{
            margin: 0.2rem 0;
        }
    }
   }
   
   footer{
       transform: rotate(90deg)
       translate(-6rem, -9rem);
   }
}